In [7]:
import pandas as pd
import json

datasets = [
    { "PA": "PA19", "context": "Maximum", "path": "../data/dataset/full-context/data-PA19.jsonl" },
    { "PA": "PA20", "context": "Maximum", "path": "../data/dataset/full-context/data-PA20.jsonl" },
    { "PA": "PA21", "context": "Maximum", "path": "../data/dataset/full-context/data-PA21.jsonl" },
    { "PA": "PA22", "context": "Maximum", "path": "../data/dataset/full-context/data-PA22.jsonl" },

    { "PA": "PA19", "context": "Minimum", "path": "../data/dataset/no-context/data-PA19.jsonl" },
    { "PA": "PA20", "context": "Minimum", "path": "../data/dataset/no-context/data-PA20.jsonl" },
    { "PA": "PA21", "context": "Minimum", "path": "../data/dataset/no-context/data-PA21.jsonl" },
    { "PA": "PA22", "context": "Minimum", "path": "../data/dataset/no-context/data-PA22.jsonl" },

    { "PA": "PA19", "context": "Selective", "path": "../data/dataset/stripped-context/data-PA19.jsonl" },
    { "PA": "PA20", "context": "Selective", "path": "../data/dataset/stripped-context/data-PA20.jsonl" },
    { "PA": "PA21", "context": "Selective", "path": "../data/dataset/stripped-context/data-PA21.jsonl" },
    { "PA": "PA22", "context": "Selective", "path": "../data/dataset/stripped-context/data-PA22.jsonl" },
]

results = []
for dataset in datasets:
    pa = dataset["PA"]
    context = dataset["context"]
    path = dataset["path"]
    
    with open(path, 'r', encoding='utf-8') as file:
        for line in file:
            data = json.loads(line)
            code_length = len(data["code"])
            code_context_length = len(data["code_context"])
            
            results.append({
                "PA": pa,
                "context": context,
                "code_context": code_context_length,
                "code+code_context": code_length + code_context_length
            })

df = pd.DataFrame(results)
df.set_index(["context", "PA"], inplace=True)
summary = df.groupby(level=["context", "PA"]).sum()

summary.T

context           Maximum                        Minimum                       \
PA                   PA19    PA20    PA21   PA22    PA19   PA20   PA21   PA22
code_context        52947  171241  104227  52427       0      0      0      0
code+code_context   75965  196331  141087  74204   23018  25090  36860  21777

context           Selective
PA                     PA19   PA20   PA21   PA22
code_context          20069  57511  26221  16461
code+code_context     43087  82601  63081  38238